<!doctype html>
<html lang="en">
<head>
  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    nav .nav-wrapper {
      display: flex;
      align-items: center;
    }

    nav .nav-wrapper h1 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: bold;
    }

    .errorlist {
      color: red;
    }
  </style>
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block nav %}
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      {% block nav-title %}{% endblock %}
    </div>
  </nav>
  {% endblock %}
  {% block content-wrapper %}
  <div class="section no-pad-bot">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% endblock %}
  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% endblock %}
</body>
</html>
