{% extends "2fa/base.html" %}{% load i18n static %}
{% block title %}{% translate "2nd Factor Login" %}{% endblock %}
{% block content %}
<h1>{% translate 'Insert your hardware key to continue' %}</h1>
<div id="content-main">

</div>
{% endblock %}
{% block script %}
<script src="{% static '2fa/axios.min.js' %}"></script>
<script src="{% static '2fa/cbor.js' %}"></script>
<script>
function start_reg() {
  axios.post("{% url 'django_2fa:fido-reg-begin' %}", {}, {responseType: 'arraybuffer'})
    .then((response) => {
      return CBOR.decode(response.data);
    })
    .then((options) => {
      return navigator.credentials.create(options);
    })
    .then((attestation) => {
      console.log(attestation);
    })
    .catch((e) => {
      console.error(e);
      alert('{% translate "Error starting hardware key registration" %}');
    });
}

start_reg();
</script>
{% endblock %}
