{% extends "2fa/base.html" %}{% load i18n %}
{% block title %}{% translate "2nd Factor Device List" %}{% endblock %}
{% block content %}
<div id="content-main">
  <h2>{% translate "2nd Factor Devices" %}</h2>
  <a href="{% url 'django_2fa:device-add' %}">
    <button>Add Device</button>
  </a>
  <ul>
    {% for d in devices %}
    <li>
      {% if d.setup_complete %}
      {{ d.get_device_type_display }}: {{ d.name }} -
      {% else %}
      <a href="{% url 'django_2fa:device-complete' d.id %}">Complete Setup: {{ d.get_device_type_display }} - {{ d.name }}</a> -
      {% endif %}
      Added: {{ d.created|date:"D, d M Y" }} -
      [ <a href="{% url 'django_2fa:device-remove' d.id %}" onclick="return confirm('Are sure you wish to remove this device?')">Remove</a> ]
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
