{% extends "2fa/base.html" %}{% load i18n static %}
{% block title %}{% translate "2nd Factor Login" %}{% endblock %}
{% block content %}
{% if complete_setup %}
<h1>{% translate 'Verify your authorization device.' %}</h1>
{% else %}
<h1>{% translate 'Enter your authorization code to continue.' %}</h1>
{% endif %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

<div id="content-main">
  <form action="{{ request.path }}" method="post" id="mfa-form">
    {% csrf_token %}
    <input type="hidden" name="{{ next_field }}" value="{{ next }}">
    {% if form.non_field_errors %}
    <div class="form-row">
      {{ form.non_field_errors }}
    </div>
    {% endif %}
    <p>
      {% if device.device_type == 'email' %}
      {% translate 'Check your e-mail for your authorization code.' %}
      {% elif device.device_type == 'app' %}
      {% if not complete_setup %}{% translate 'Enter code from your authenicator application.' %}{% endif %}
      {% else %}
      {% translate 'Use your hardware token to complete sign in.' %}
      {% endif %}
    </p>
    <div class="form-row">
      {% if complete_setup and device.device_type == 'app' %}
      <p>
        {% translate 'Scan QR below in your authenicator app, then enter a code to verify your device.' %}
        <br>
        <canvas id="qr"></canvas>
        <br><br><strong>{% translate 'Provision URL:' %}</strong><br>
        <pre>{{ device.provision_url }}</pre>
      </p>
      {% endif %}
      {{ form.mfa_code.errors }}
      {{ form.mfa_code.label_tag }} {{ form.mfa_code }}
    </div>
    <div class="submit-row">
      <input type="submit" value="{% translate 'Continue' %}">
    </div>
  </form>
</div>
{% endblock %}
{% block script %}
{% if complete_setup and device.device_type == 'app' %}
<script src="{% static 'qrious.min.js' %}"></script>
<script>
  (function() {
    var qr = new QRious({
      element: document.getElementById('qr'),
      value: '{{ device.provision_url }}',
      size: 200
    });
  })();
</script>
{% endif %}
{% endblock %}
